* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}


header {
    background-color: gray;
}

.three_lines {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 40px;
    cursor: pointer;
}

.line1,
.line2,
.line3 {
    width: 30px;
    height: 3px;
    background-color: orange;
    box-shadow: 1px 1px;
}

.active_line1 {
    transform: rotate(45deg);
    margin-bottom: -27px;
}

.active_line2 {
    display: none;
}

.active_line3 {
    transform: rotate(-45deg);
}

.header_container {
    max-width: 1400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label_img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.label_img img {
    height: 26px;
}

.contacts img {
    height: 30px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.menu ul a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: orange;
    text-shadow: 1px 1px 2px black;
}

.menu ul a:hover {
    text-decoration: underline;
}

.contacts {
    padding-right: 40px;
}

.contacts a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    color: orange;
    vertical-align: middle;
}

@media (max-width: 430px) {
    .tel {
        display: none;
    }
}


@media (max-width: 877px) {
    .menu { 
        position: absolute;
        top: 50px;
        left: -270px;
        width: 220px;
        height: 130px;
        background-color: gray;
    }
}

.active_menu {
    transform: translateX(270px);
    transition-property: transform;
    transition-duration: 1s;
}

@media (min-width: 878px) {
    .three_lines { 
        display: none;
    }
}


/* welcome */

.welcome {
    background-color: gray;
}

.greeting {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    height: 500px;
    max-width: 1400px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    background-image: url('./assest/Screenshot_20231011_232621_VK.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1em;
}

h1 {
    text-align: center;
    color: orange;
    text-shadow: 1px 1px 2px black;
}

.slogan p {
    color: orange;
    text-shadow: 1px 1px 2px black;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.call_wrapper {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.call {
    max-width: 380px;
    background-color: gray;
    border-radius: 1em;
}

.order_the_call {
    text-align: center;
}

.form_handler {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_handler label {
    margin: 5px;
}

.form_handler input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    height: 25px;
}

#checkbox {
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer;
}

.check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.agree {
    cursor: pointer;
}

.agree:hover {
    text-decoration: underline;
}

.text_agree {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    height: 100px;
    display: none;
}

.cross {
    cursor: pointer;
    text-align: end;
}

#button_form {
    width: 180px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

/* about section */

#about {
    background-color: gray;
}

.about_container {
    max-width: 1400px;
    margin: auto;
    padding: 40px;
    flex-wrap: wrap;
}

.about_company,
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.about_container img {
    max-width: 600px;

}

.about_container h2 {
    padding-left: 40px;
    color: orange;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

.about_container li {
    color:white;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
}

.about_container {
    line-height: 2;
    font-size: 16px;
}

.info {
    margin: 50px auto;
    max-width: 1000px;
}

@media (max-width: 550px) {
    .about_company_text ul {
    padding-inline-start: 5px;
    line-height: normal;
    font-size: 14px;
    }
}

/* section project */

#progects {
    max-width: 1400px;
    margin: 50px auto;
}

#progects h2 {
    text-align: center;
    color: orange;
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
    padding-bottom: 50px;
}

.project_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.raduga,
.dom84,
.shale,
.chekeril,
.shudiay,
.zeleniy {
    max-width: 400px;
    cursor: pointer;
}

.big_raduga {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: gray;
    box-shadow: 7px 7px 5px black;
}



.big_raduga_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px green solid;
}

.big_raduga img {
    width: 60vw;
}

.big_raduga p {
    padding-bottom: 2px;
    text-align: center;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.arrow_left {
    rotate: 180deg;
    border: 1px red solid;
    height: 100%;
    width: 30px;
    cursor: pointer;
    display: block;

}

.arrow_right {
    width: 30px;
    border: 1px red solid;
    height: 100%;
}


/* contacts */


.contacts_wrapper {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.connection {
    font-family: 'Lato', sans-serif;
    margin: 10px;
    line-height: 1.5;
    font-weight: 500;
    font-size: 18px;
    display: grid;
    grid-template-columns: 40px 480px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.connection img {
    width: 30px;
}


.connection a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
}

.connection a:hover {
    text-decoration: underline;
}



footer {
    background-color: gray;
    font-family: 'Lato', sans-serif;
    color: white;
    height: 80px;
}

.footer_container {
    text-align: center;
}
