* {
    margin: 0;
    scroll-behavior: smooth;
}

/* body {
    max-width: 1200px;
    margin: auto;
} */

header {
    height: 80px;
    background-color: #6E6E6E;
}

.header_container {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.label_img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.label_img img {
    height: 26px;
}

.contacts img {
    height: 30px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
    margin-left: 10px;
}

.menu ul a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.menu ul a:hover {
    text-decoration: underline;
}

.contacts {
    display: grid;
    grid-template-columns: 75px 120px;
    grid-template-rows: 30px 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

/* .welcome {
    background-image: url("./assest/welcome_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 798px;
} */

.about_container {
    display: flex;
    flex-wrap: wrap;
}